html,div,map,dt,form {
	display: block;
}

body {
	display: block;
	margin: 8px;
	font-family: serif;
	font-size: medium; p , dl { display : block;
	margin-top: 1em;
	margin-bottom: 1em;
}

dd {
	display: block;
	margin-left: 40px;
}

address {
	display: block;
	font-style: italic;
}

blockquote {
	display: block;
	margin: 1em 40px;
}

h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin: 0.67em 0; h2 { display : block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.83em 0; h3 { display : block;
	font-size: 1.125em;
	font-weight: bold;
	margin: 1em 0; h4 { display : block;
	font-size: 1em;
	font-weight: bold;
	margin: 1.33em 0; h5 { display : block;
	font-size: 0.75em;
	font-weight: bold;
	margin: 1.67em 0; h6 { display : block;
	font-size: 0.5625em;
	font-weight: bold;
	margin: 2.33em 0; pre { display : block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0; hr { display : block;
	height: 2px;
	border: 1px;
	margin: 0.5em auto 0.5em auto;
}
/*表格元素*/
table {
	border-spacing: 2px;
	border-collapse: separate;
	margin-top: 0;
	margin-bottom: 0;
	text-indent: 0;
}

caption {
	text-align: center;
}

td {
	padding: 1px;
}

th {
	font-weight: bold;
	padding: 1px;
}

tbody,thead,tfoot {
	vertical-align: middle;
}
/*行内元素*/
strong {
	font-weight: bold;
}

cite,em,var,dfn {
	font-style: italic;
}

code,kbd,samp {
	font-family: monospace;
}

ins {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

sub {
	vertical-align: -0.25em;
	font-size: smaller;
	line-height: normal;
}

sup {
	vertical-align: 0.5em;
	font-size: smaller;
	line-height: normal;
}
abbr[title],{
	border-bottom:dotted
 
	1px;
}

/*列表元素*/
ul {
	list-style-type: disc;
	margin: 1em 0;
	margin-left: 40px;
	padding-left: 0;
}

ol {
	list-style-type: decimal;
	margin: 1em 0;
	margin-left: 40px;
	padding-left: 0;
}
/*删除嵌套列表的上下外边距*/
ul ul,ul ol,ul dl,ol ul,ol ol,ol dl,dl ul,dl ol,dl dl {
	margin-top: 0;
	margin-bottom: 0;
}
/*2级ul使用圆点项目符号*/
ol ul,ul ul {
	list-style-type: circle;
}
/*3级ul使用正方形项目符号*/
ol ol ul,ol ul ul,ul ol ul,ul ul ul {
	list-style-type: square;
}