<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="http://static.tianyaui.com/global/lite/css/lite-all.css?v=2013052810" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="bottom_nav_wrap" style="">
    <div id="bottom_nav" style="width: 1255px;">
        <div class="bottom-bg">
            <ul class="ul-nav">
                <li class="li-border-r li-user-name">
                    <div id="bottom_username_view" class="more-view">
                        <div class="bottom_username_view_wrap">
                            <div class="bottom_username_subnav clearfix">
                                <ul>
                                    <li class="li-first">
                                        <dl class="clearfix">
                                            <dt>
                                                <a href="#">我的首页</a>
                                            </dt>
                                            <dd>
                                            <a target="_blank" href="#">我的博客</a>
                                            </dd>
                                            <dd>
                                            <a target="_blank" href="#">我的部落</a>
                                            </dd>
                                            <dd>
                                            <a target="_blank" href="#">我的论坛</a>
                                            </dd>
                                        </dl>
                                    </li>
                                    <li style="display:none">
                                        <dl class="js-biz-data clearfix">
                                            <dt>天涯推荐</dt>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl id="bottom_my_app_list" class="clearfix">
                                            <dt>
                                            <a target="_blank" href="#">我的应用</a>
                                            </dt>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <span id="bottom_username" class="b-username" js-data="null" biz-data="null">我的天涯</span>
                </li>
                <li class="li-border">
                    <div id="bottom_trace_view" class="more-view">
                        <ul class="link-list clearfix">
                            <li class="logoing">
                             <img src="http://static.tianyaui.com/global/ty/resources/images/loading1.gif">
                            </li>
                        </ul>
                    </div>
                    <span id="bottom_trace" class="white" js-data="null" bakfocusclass="on">
                     <span class="bottom-ico-bg bottom-ico-bg-3">足迹</span>
                    </span>
                </li>
                <li class="li-border-l li-null"></li>
                <li class="art-view">
                    <ul class="art-lite" style="margin-left: -3114px;">
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="有奖拍摄身边的公交车！图" href="#">【热帖】有奖拍摄身边的公交车！图</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="有奖提问《那些冒险的梦》" href="#">【热帖】有奖提问《那些冒险的梦》</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="事不过三！千年老二一飞冲天" href="#">【热帖】事不过三！千年老二一飞冲天</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="由俄研发杀手机器人所发猜想" href="#">【热帖】由俄研发杀手机器人所发猜想</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="让怪胎的春天呆的更久一些吧" href="#">【热帖】让怪胎的春天呆的更久一些吧</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="我给一个朋友算的跳槽账" href="#">【热帖】我给一个朋友算的跳槽账</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="开扒中外最凶猛残暴恐怖电影" href="#">【热帖】开扒中外最凶猛残暴恐怖电影</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="破产了，看我以后的路怎么走" href="#">【热帖】破产了，看我以后的路怎么走</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="老人和自己女儿在家死亡！图" href="#">【热帖】老人和自己女儿在家死亡！图</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="讲一个，关于中欧的童话" href="#">【热帖】讲一个，关于中欧的童话</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="我捡了个比我小八岁的流浪儿" href="#">【热帖】我捡了个比我小八岁的流浪儿</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="爱情歹徒：在最美年华遇见你" href="#">【热帖】爱情歹徒：在最美年华遇见你</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="回忆下穆里尼奥在皇马这三年" href="#">【热帖】回忆下穆里尼奥在皇马这三年</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="欢迎来到欧冠决赛直播时刻！" href="#">【热帖】欢迎来到欧冠决赛直播时刻！</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="毕业季的校园生活点滴！图" href="#">【热帖】毕业季的校园生活点滴！图</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="伺候月子的婆婆要把我逼疯了" href="#">【热帖】伺候月子的婆婆要把我逼疯了</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="视频：小学校长带女学生开房" href="#">【热帖】视频：小学校长带女学生开房</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="兄弟们来说说自己第一件球衣" href="#">【热帖】兄弟们来说说自己第一件球衣</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="十六岁女生，踏上一个人的旅途" href="#">【热帖】十六岁女生，踏上一个人的旅途</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="说下我知道的房地产内幕消息" href="#">【热帖】说下我知道的房地产内幕消息</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="有奖拍摄身边的公交车！图" href="#">【热帖】有奖拍摄身边的公交车！图</a>
                        </li>
                        <li>
                        <a _tystat="新版底导航/热帖" target="_blank" title="有奖提问《那些冒险的梦》" href="#">【热帖】有奖提问《那些冒险的梦》</a>
                        </li>
                    </ul>
                </li>
                <li class="f-r li-border-l">
                    <a class="bottom-scroll-top" href="javascript:scroll(0,0);"></a>
                </li>
                <li class="f-r li-border">
                    <div id="bottom_message_view" class="more-view bottom-message-list" style="display: none;">
                        <div class="bottom-sub-nav-hd">
                        <h4>消息</h4>
                        <a class="a-gnore js-gnore-msg" href="javascript:void(0);"></a>
                        <a class="a-set" target="_blank" href="#"></a>
                        </div>
                        <ul class="link-list clearfix">
                            <li>
                            <a id="bottom_msg_userCount" _tystat="新版底导航/消息/用户消息" target="_blank" href="#">
                            用户消息
                            <span>（0）</span>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <span id="bottom_message" class="white" bakfocusclass="on">
                        <span class="bottom-ico-bg bottom-ico-bg-6">
                        消息
                        <strong></strong>
                        </span>
                    </span>
                </li>
                <li class="f-r li-border-r">
                 <a class="white myCityName" _tystat="新版底导航/城市" href="#">上海</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style=" height:1800px; background:#666;"></div>
</body>
</html> 