<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="base.css">
<title>1_4</title>
<base target="_blank">
</head>

<body>

	<h1>Fluid Layout Overview</h1>
	
	<div id="nav">
		<h2>Navigation</h2>
		<p>20% of container's width</p></div>
		
	<div id="main">
		<h2>Main</h2>
		<p>40% of container's width.</p>
	</div>
	
	<div id="news">
		<h2>News</h2>
		<p>20% of container's width.</p>
	</div>

</body>
</html>